/* reset rules */

:root {
    --zoom-secondary: #4a4a4a;
    --zoom-dark: black;
    --zoom-primary: #626f7b;
    --zoom-font: white;
    --zoom-footer: #222222;
    --zoom-share: #4bc800;
    --zoom-end: #f40404;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img {
    max-width: 100%;
}

/* end reset rules */

/* Utility */

.container {
    width: 100%;
    padding: 3rem 0 0 5rem;  
    margin: 0 auto;
}

.row {
    width: 100%;
    gap: 0.5rem;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

/* end region utility */

/* region main */

main {
    width: 100vw;
    height: 90vh;
    background-color: var(--zoom-dark);
    overflow-y: auto;
    position: relative;
}

.card {
    min-width: 200px;
    width: calc((100% / 7) - 0.5rem);
    height: 120px;
    position: relative;
}

.name {
    background-color: var(--zoom-primary);
    color: var(--zoom-font);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.15rem;
}

.speaker {
    width: 120px;
    height: 1.5rem;
    background-color: var(--zoom-secondary);
    border-radius: 10px;
    color: var(--zoom-font);
    position: absolute;
    top: 0;
    right: 30px;
    padding: 0.15rem;
}

.arrow {
    width: 25px;
    height: 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--zoom-secondary);
    border-radius: 10px;
    color: var(--zoom-font);
    text-align: center;
    padding: 0.15rem;
}



/* end region main */

/* region footer */

footer {
    width: 100vw;
    height: 10vh;
    background-color: var(--zoom-footer);
}

.start {
    width: 150px;
    height: 100%;
    color: var(--zoom-font);
    gap: 0.5rem;
}

.microphone {
    width: 50%;
}

.icon {
    padding: 0.25rem;
}

.camera {
    width: 50%;
}

.centre {
    width: 500px;
    height: 100%;
    color: var(--zoom-font);
    gap: 0.5rem;
}

.share .icon i {
    color: var(--zoom-share);
}

.end {
    width: 150px;
    height: 100%;
    background-color: var(--zoom-secondary);
    justify-content: center;
}

.call_close {
    color: var(--zoom-end);
    text-align: center;
    align-self: center;
}

/* end region footer */