/* reset rules */

:root {
    background-color: var()
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img {
    max-width: 100%;
}

/* end reset rules */

/* Utility */

.container {
    width: 100%;
    padding: 3rem 0 0 5rem;  
    margin: 0 auto;
}

.row {
    width: 100%;
    gap: 0.5rem;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}

/* end region utility */

/* region main */

main {
    width: 100vw;
    height: 90vh;
    background-color: black;
    overflow-y: auto;
    position: relative;
}

.card {
    min-width: 200px;
    width: calc((100% / 7) - 0.5rem);
    height: 120px;
}

.speaker {
    width: 150px;
    height: 2rem;
    background-color: orange;
    position: absolute;
    top: 0;
    right: 0;
}

/* end region main */

/* region footer */

footer {
    width: 100vw;
    height: 10vh;
    background-color: #222222;
}

.start {
    width: 150px;
    height: 100%;
    background-color: orange;
}

.centre {
    width: 500px;
    height: 100%;
    background-color: orange;
}

.end {
    width: 150px;
    height: 100%;
    background-color: orange;
}

/* end region footer */